
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100&display=swap');

body {
    background-color: #e0e0d1;
    color: #5c8a8a;

}

section {
    padding: 100px 0px;
}

.responsive {
    height: 100%;
    width: auto;
}


h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    margin: 0 0 24px;
}


h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0 0 24px;

}


.taskPageContent {
    overflow-x: auto;
    z-index: 2;
}

.taskTitle {
    color: #476b50;
    margin-top: 60px;
}

.AssignTasks {
    justify-content: center;
    text-align: center;
}

.taskContainer {
    display: flex;
    justify-content: center;
}

